colorama==0.4.6
docx==0.2.4
docx2pdf==0.1.8
et-xmlfile==1.1.0
lxml==4.9.1
numpy==1.23.5
openpyxl==3.0.10
pandas==1.5.2
Pillow==9.3.0
PySide6==6.4.2
PySide6-Addons==6.4.2
PySide6-Essentials==6.4.2
python-dateutil==2.8.2
python-docx==0.8.11
pytz==2022.6
pywin32==305
shiboken6==6.4.2
six==1.16.0
tqdm==4.64.1
